*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #CE0505;
    width: 100%;
    height: 60px;
    position:relative ;
}
.header .logo{
    background-color: white;
    font-size: 2.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #CE0505;
    position: absolute;
     top: 14%;
     left: 7%;
     font-weight: 700;
}
.title{
    position: relative;
    top: 37px;
    color: #192F60;
    padding-left: 113px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.filter{
    width: 260px;
    height: 682px;
    background:#ffff 0% 0% no-repeat ;
    position:absolute;
    top: 195px;
    left: 113px;
    box-shadow: 0px 3px 6px #00000029;
}
.filter h1{
    color: #192F60;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-left: 26px;
    padding-top: 17px;
}
.filter h2{
    color: #192F60;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-left: 26px;
    padding-top: 10px;
}
.filter select{
    width: 208px;
    height: 35px;
    border: 1px solid #8C96AB;
    border-radius: 3px;
     opacity: 1;
     margin-left: 27px;
     margin-top: 11px;
}
.filter select option{
    color: #8C96AB;
}

.checkbox {
    display: block;
    margin-left: 27px;
    margin-top: 12px;
}
.checkbox input{
    width: 18px;
    height: 18px;
    border: 2px solid #3A5075;
    border-radius: 2px;
    opacity: 1;
}
.checkbox .text{
    color: #8C96AB;
    font-size: 14px;
    margin-top: 16px;
    width: 88px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
}
.radio{
    display: block;
    margin-left: 27px;
    margin-top: 12px;
}
.radio input{
    width: 18px;
    height: 18px;
    border: 2px solid #3A5075;
    border-radius: 9px;
    opacity: 1;
}
.radio .text{
    color: #8C96AB;
    font-size: 14px;
    margin-top: 16px;
    width: 88px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
}
.info{
    width: 794px;
    height: 291px;
    left: 418px;
    position: absolute;
    top: 195px;
    background: #FFFFFf;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
}
.info img{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 25px;
    left: 35px;
    border-radius: 16px;
}
.info .textinfo {
    position: absolute;
    left: 196px;
    top: 39px;
    
}
.info .textinfo h1{
    color:  #192F60;
     font-family: 'Poppins', sans-serif;
     font-size: 30px;
 }
 .info .textinfo h2{
     font-family: 'Poppins', sans-serif;
     color: #192F60;
     font-weight: 600;
     font-size: 16px;
 }
 .info .textinfo h3{
     color: #636F88;
     font-size: 16px;
     font-family: 'Poppins', sans-serif;
 }
 .info .items  {
    width: 140px;
    height: 18px;
    position: absolute;
    left: 35px;
    top: 202px;
    
 }
 .info .items h1{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #636F88;
    line-height: 1.5;
    font-weight: normal;

 }
 .info .items1{
    position: absolute;
    top: 202px;
    left: 216px;
 }
 .info .items1 h1{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #192F60;
    line-height: 1.5;
    font-weight: normal;
 }
 .info2{
    width: 794px;
    height: 291px;
    left: 0px;
    position: absolute;
    top: 330px;
    background: #FFFFFf;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
 }
 .center {
    text-align: center;
    position: absolute;
    top: 849px;
    left: 650px;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #8C96AB;
    width: 36px;
    height: 36px;
    margin: 0 2px;
    border-radius: 7px;
    background: #FBFBFB 0% 0% no-repeat ;
    font-family: 'Poppins', sans-serif;
    color: #8C96AB;
  }
  
  .pagination a.active {
    background-color: #8C96AB;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  
